
<div class="container celebrity celebrity-edit">
  <div class="celebrity-new-view">
    <div class="celebrity-new-view-box">
      <h1>著名人編集</h1>
      <div class="celebrity-inner">
        <%= form_with model: @celebrity do |f| %>
          <div class="create-content">
            <div class="offset">
              <div class="icon-box">
                <% if @celebrity.image.present? %>
                  <%= image_tag @celebrity.image, alt: "著名人画像", class: "icon-image host-icon" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="create-content">
            <%= f.label :image, class: "required-a" %><br />
            <%= f.file_field :image, required: false, class: "input-w" %>
          </div>
          <div class="create-content">
            <%= f.label :ruby, class: "required-a" %><br />
            <%= f.text_field :ruby, placeholder: "なまえ", autocomplete: "ruby", required: true, class: "form-control input-w", value: @celebrity.ruby %>
          </div>
          <div class="create-content">
            <%= f.label :name, class: "required-a" %><br />
            <%= f.text_field :name, placeholder: "名前", autocomplete: "name", required: true, class: "form-control input-w", value: @celebrity.name %>
          </div>
          <div class="create-content">
            <%= f.label :date_of_birth, class: "required-a" %><br />
            <%= f.date_field :date_of_birth, autofocus: true, autocomplete: "date_of_birth", required: true, class: "form-control", value: @celebrity.date_of_birth %>
          </div>
          <div class="create-content">
            <%= f.label :birthplace, class: "required-a" %><br />
            <%= f.text_field :birthplace, placeholder: "出身地", required: true, class: "form-control input-w", value: @celebrity.birthplace %>
          </div>
          <div class="create-content">
            <%= f.label :history, class: "required-a" %><br />
            <%= f.text_area :history, placeholder: "歴史", required: true, class: "form-control input-w", value: @celebrity.history %>
          </div>
          <div class="create-content">
            <%= f.submit "更新", class: "btn btn-primary" %>
          </div>
        <% end %>

        <div class="actions">
            <%= link_to "削除", celebrity_path, class: "btn btn-primary", data: { method: :delete, confirm: "本当に削除しますか？" } %>
          </div>
        <div class="actions">
          <%= link_to "戻る", admins_path, class: "btn btn-outline-secondary form-control", data: {"turbolinks": false} %>
        </div>
      </div>
    </div>
  </div>
</div>
