<div class="container user account">
  <div class="user-nav">
    <ul>
      <li class="active">
        <%= link_to "アカウント", users_account_path, data: {"turbolinks": false} %>
      </li>
      <li>
        <%= link_to "プロファイル", profile_path, data: {"turbolinks": false} %>
      </li>
    </ul>
  </div>
  <div class="user-view">
    <div class="show-content">
      <%= label :user, :email, "メールアドレス" %>
      <div class="show-information"><%= current_user.email %></div>
    </div>
    <div class="show-content">
      <%= label :user, :password, "パスワード" %>
      <div  class="show-information">*********</div>
    </div>
    <div class="show-content">
      <% if current_user.email != ApplicationController::GUEST_EMAIL %>
        <%= link_to "編集", edit_user_registration_path, class: "btn btn-primary", data: {"turbolinks": false} %>
      <% end %>
      <%= link_to "アカウント削除", users_path, class: "btn btn-primary", data: { method: :delete, confirm: "本当に削除しますか？" } %>
    </div>
  </div>
</div>
