<div class="container user-password-edit">
  <div class="user-frame">
    <p>パスワードを変更</p>
    <div class="user-inner">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "パスワード変更", class: "form-control btn-primary" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
