<div class="container user-registration-new">
  <div class="user-frame">
    <p>新しいアカウントを作成<p>
    <div class="user-inner">
      <%= form_for(resource, as: resource_name, url: registration_url(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <div class="required"></div>
          <%= label :profile, :name, "名前" %><br />
          <% if resource.profile.presence %>
            <%= text_field :profile, :name, autofocus: true, autocomplete: "name", placeholder: "ユーザー名", class: "form-control", value: resource.profile.name %>
          <% else %>
            <%= text_field :profile, :name, autofocus: true, autocomplete: "name", placeholder: "ユーザー名", class: "form-control" %>
          <% end %>
        </div>

        <div class="field">
          <div class="required"></div>
          <%= label :profile, :sex, "性別" %><br />
          <% if resource.profile.presence %>
            <% if resource.profile.sex == "man" %>
              <%= label :profile, :sex_man, "男性" %>
              <%= radio_button :profile, :sex, :man, checked: true, class: "form-control"%>
              <%= label :profile, :sex_woman, "女性" %>
              <%= radio_button :profile, :sex, :woman, class: "form-control"%>
            <% else %>
              <%= label :profile, :sex_man, "男性" %>
              <%= radio_button :profile, :sex, :man, class: "form-control"%>
              <%= label :profile, :sex_woman, "女性" %>
              <%= radio_button :profile, :sex, :woman, checked: true, class: "form-control"%>
            <% end %>
          <% else %>
            <%= label :profile, :sex_man, "男性" %>
            <%= radio_button :profile, :sex, :man, checked: true, class: "form-control" %>
            <%= label :profile, :sex_woman, "女性" %>
            <%= radio_button :profile, :sex, :woman, class: "form-control" %>
          <% end %>
        </div>

        <div class="field">
          <div class="required"></div>
          <%= label :profile, :date_of_birth, "生年月日" %><br />
          <% if resource.profile.presence %>
            <%= date_field :profile, :date_of_birth, autofocus: true, autocomplete: "date_of_birth", class: "form-control", value: resource.profile.date_of_birth %>
          <% else %>
            <%= date_field :profile, :date_of_birth, autofocus: true, autocomplete: "date_of_birth", class: "form-control" %>
          <% end %>
        </div>

        <div class="field">
          <div class="required"></div>
          <%= label :profile, :prefecture, "都道府県" %><br />
          <% if resource.profile.presence %>
            <%= text_field :profile, :prefecture, autofocus: true, autocomplete: "prefecture", placeholder: "都道府県", class: "form-control", value: resource.profile.prefecture %>
          <% else %>
            <%= text_field :profile, :prefecture, autofocus: true, autocomplete: "prefecture", placeholder: "都道府県", class: "form-control" %>
          <% end %>
        </div>

        <div class="field">
          <div class="required"></div>
          <%= label :profile, :municipality, "市区町村" %><br />
          <% if resource.profile.presence %>
            <%= text_field :profile, :municipality, autofocus: true, autocomplete: "municipality", placeholder: "市区町村", class: "form-control", value: resource.profile.municipality %>
          <% else %>
            <%= text_field :profile, :municipality, autofocus: true, autocomplete: "municipality", placeholder: "市区町村", class: "form-control" %>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          
          <% if resource.profile.presence %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control", value: resource.email %>
          <% else %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "新しいアカウントを作成", class: "form-control btn-primary" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
